<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=205317903140183";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div role="main" class="hero home_bg" style="border:none">
  <div class="container">
    <center>
      <h1 class="home_header">歡迎到民間開放數據庫</h1>
      <form class="module-content search-form" method="get" action="/dataset" style="border-bottom:none">
        <div class="search-input control-group search-giant">
          <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="E.g. environment">
          <button type="submit">
            <i class="icon-search"></i>
            <span>Search</span>
          </button>
            
        </div>
      </form>
      <div class="home_not_found">
      <h1 class="home_header">找不到想要的數據?</h1>
      <h2 class="home_header">
            請發電郵到 <a href="mailto:info@g0vhk.io">info@g0vhk.io</a> 
      </h2>

    <div class="fb-like" style="color:white" data-href="https://www.facebook.com/g0vhk.io" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> 
        <br/>
        <br/>&nbsp;
      </div>
     </center>
  </div>
  <br/>
     <a href="https://www.flickr.com/photos/laszlo-photo/" style="color:white; position: relative; right:0px;float:right;text-align:right;font-size:8pt">Photo Credit: LASZLO ILYES</a>
</div>
<div role="main">
  <div class="container" style="width:80%">
      <h1>分類</h1>
      <center>
        <div class="span6" style="width:100%;background-color:#fff">
            {% set groups = h.get_featured_groups(count=999) %}
            {% snippet "group/snippets/group_list.html", groups=groups%}
        </div>
      </center>
  </div>
</div>
